﻿@import "references.less";
@path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";


@app-background-color: #f1f2f7;

body {
    background-color: @app-background-color;
}

// Panels

@panel-header-font-size: 16px;

#panel-section {
    padding: 10px 15px;
    background-color: #fff;
}

.app-panel-board {
    .panel-heading,
    .panel-body {
        #panel-section;
    }
}

.app-panel-group {
    .panel-heading {
        border-bottom: 1px solid #eff2f7;
        font-weight: 300;

        h2 {
            font-size: @panel-header-font-size;
            margin: 10px 0px;
        }
    }

    .panel-body {
        padding: 15px;
    }
}

// Input-Text

.app-input-text {
    #size-mixing {
        font-size: 14px;
    }

    a {
        #size-mixing;
        cursor: pointer;
    }

    input {
        #size-mixing;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
            .box-shadow(inset 0 -1px 0 @brand-primary);
        }
    }
}

// Modal

.modal-header {
    background-color: #106cc8;
    .box-shadow(0 1px 2px rgba(0,0,0,.3));

    h4 {
        color: #eee;
    }
}

.modal-content {
    border: none;
}

// Button-Item

.btn-item {
    font-size: 12px;
    padding: 1px 5px;
    text-transform: none;
}

// Card-Item

.app-card-item {
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;

    label {
        font-size: 14px;
        margin: 0px;
    }

    a {
        margin-left: 5px;
    }

    &-done {
        a {
            color: #bbbbbb;
            text-decoration: line-through;
        }
    }

    &:hover {
        background-color: #f9f9f9;
    }
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-15 {
    margin-top: 15px;
}
