﻿<div class="navbar-header">
    <a [routerLink]="getBoardsLink()" class="navbar-brand">Application</a>
</div>

<div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
        <li *ngIf="createGroupVisible"><a (click)="createGroup()">
            <span class="glyphicon glyphicon-plus"></span>
            Create group
        </a></li>
        <li><a style="cursor: pointer" (click)="signOut()">Sign Out</a></li>
    </ul>
</div>
