﻿<app-modal-window>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
        <div class="modal-header">
            <h4>Create Card</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" [ngClass]="getErrorClass('name')">
                <label for="name" class="control-label">Card Name</label>
                <input id="name" class="form-control" placeholder="Card Name" formControlName="name" />
                <div class="help-block">
                    <small [hidden]="!hasLengthError('name')">Card Name must be 2-25 characters.</small>
                    <small [hidden]="!hasRequiredError('name')">Card Name is required.</small>
                </div>
            </div>
            <div class="form-group" [ngClass]="getErrorClass('description')">
                <label for="description" class="control-label">Card Description</label>
                <textarea id="description" class="form-control" rows="3" placeholder="Card Description" formControlName="description"></textarea>
                <div class="help-block">
                    <small [hidden]="!hasLengthError('description')">Card Description must be less than 100 characters.</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onCancel()">
                <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span>Create</span>
            </button>
        </div>
    </form>
</app-modal-window>