﻿<div class="panel app-panel-group">
    <div class="panel-heading">
        <h2><a [routerLink]="link">{{group.name}}</a></h2>
    </div>
    <div class="panel-body">
        <app-card-list [group]="group"></app-card-list>
    </div>
</div>
