<form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="modal-header">
        <h4>Sign Up</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="getErrorClass('email')">
            <label for="email" class="control-label">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email" />
            <div class="help-block">
                <small [hidden]="!hasLengthError('email')">Email must be 2-100 characters.</small>
                <small [hidden]="!hasRequiredError('email')">Email is required.</small>
                <small [hidden]="!hasEmailError('email')">Email is not valid.</small>
            </div>
        </div>

        <div class="form-group" [ngClass]="getErrorClass('username')">
            <label for="username" class="control-label">Username</label>
            <input id="username" type="text" class="form-control" formControlName="username"/>
            <div class="help-block">
                <small [hidden]="!hasLengthError('username')">Username must be 2-25 characters.</small>
                <small [hidden]="!hasRequiredError('username')">Username is required.</small>
            </div>
        </div>
        <div class="form-group" [ngClass]="getErrorClass('password')">
            <label for="password" class="control-label">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password"/>
            <div class="help-block">
                <small [hidden]="!hasLengthError('password')">Password must be 6-25 characters.</small>
                <small [hidden]="!hasRequiredError('password')">Password is required.</small>
            </div>
        </div>
        <div class="form-group" [ngClass]="getErrorClass('confirmPassword')">
            <label for="confirm-password" class="control-label">Confirm Password</label>
            <input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword"/>
            <div class="help-block">
                <small [hidden]="!hasMatchError('confirmPassword')">Passwords do not match.</small>
                <small [hidden]="!hasRequiredError('confirmPassword')">Configrm Password is required.</small>
            </div>
        </div>
        <div class="form-group has-error">
            <small class="help-block" *ngFor="let error of errors">{{error}}</small>
        </div>
    </div>
    <div class="modal-footer">
        <a [routerLink]="signInLink()" class="btn btn-link">Go To Sign In</a>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>