﻿.app-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}
