<div class="row">
    <div class="col-md-3" *ngFor="let board of boards">
        <app-board-item [board]="board" [link]="getViewLink(board)" (delete)="deleteBoard($event)" (update)="updateBoard($event)"></app-board-item>
    </div>
    <div class="col-md-3">
        <app-board-item-create (create)="createBoard($event)"></app-board-item-create>
    </div>
</div>
