﻿<app-modal-window>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
        <div class="modal-header">
            <h4>Create Group</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" [ngClass]="getErrorClass('name')">
                <label for="name" class="control-label">Name</label>
                <input id="name" class="form-control" placeholder="Group Name" formControlName="name"/>
                <div class="help-block">
                    <small [hidden]="!hasLengthError('name')">Group Name must be 2-25 characters.</small>
                    <small [hidden]="!hasRequiredError('name')">Group Name is required.</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onCancel()">
                <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span>Create</span>
            </button>
        </div>
    </form>
</app-modal-window>