<form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value, form.valid)">
    <div class="modal-header">
        <h4>Sign In</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="getErrorClass('username')">
            <label for="username" class="control-label">Username</label>
            <input id="username" type="text" class="form-control" formControlName="username" />
            <div class="help-block">
                <small [hidden]="!hasLengthError('username')">Username must be 2-25 characters.</small>
                <small [hidden]="!hasRequiredError('username')">Username is required.</small>
            </div>
        </div>
        <div class="form-group" [ngClass]="getErrorClass('password')">
            <label for="password" class="control-label">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password" />
            <div class="help-block">
                <small [hidden]="!hasLengthError('password')">Password must be 6-25 characters.</small>
            </div>
        </div>
        <div class="form-group has-error">
            <small class="help-block" *ngFor="let error of errors">{{error}}</small>
        </div>
    </div>
    <div class="modal-footer">
        <a [routerLink]="signUpLink()" class="btn btn-link">Go To Sign Up</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
