﻿<div class="panel app-panel-board">
    <div class="panel-heading">
        <div class="app-input-text">
            <a (click)="onCreate()" [ngClass]="{'hidden': createMode}">Add a board...</a>
            <input type="text" [ngClass]="{'hidden': !createMode}" [(ngModel)]="boardName" />
        </div>
    </div>
    <div class="panel-body" [ngClass]="{'hidden': !createMode}">
        <div class="btn-group-xs">
            <button class="btn btn-link" (click)="onCancel()">
                <span class="glyphicon glyphicon-ban-circle"></span>
                <span>Cancel</span>
            </button>
            <button class="btn btn-link" (click)="onSave()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>Save</span>
            </button>
        </div>
    </div>
</div>