﻿<app-overlay (click)="onContainerClicked()" [visible]="visible">
    <div class="modal-dialog">
        <div class="modal-content">
            <ng-content></ng-content>
        </div>
    </div>
</app-overlay>
