﻿<app-card-item *ngFor="let card of cards" [card]="card" [link]="getCardEditLink(card)" (complete)="onComplete($event)"></app-card-item>

<div class="m-t-15">
    <a [routerLink]="getCardCreateLink()">Create New Card</a>
</div>