﻿<div class="app-card-item" [ngClass]="{'app-card-item-done': card.complete}">
    <label>
        <input type="checkbox" (click)="onComplete()" [checked]="card.complete" />
        <a [routerLink]="link">{{card.name}}</a>
    </label>
</div>