﻿.page-not-found {
    display: block;
    margin: 75px auto;
    text-align: center;
    max-width: 600px;
    color: #8c8c8c;

    h1 {
        font-size: 26px;
        margin-bottom: 24px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
    }
}
