﻿<div class="row m-b-15">
    <div class="col-md-12">
        <a [routerLink]="getGroupCreateLink()" class="btn btn-primary pull-right">Add new group</a>
    </div>
</div>

<div class="row" *ngFor="let group of groups">
    <div class="col-md-12">
        <app-group-item [group]="group" [link]="getGroupEditLink(group)"></app-group-item>
    </div>
</div>

<router-outlet></router-outlet>