﻿<div class="panel app-panel-board">
    <div class="panel-heading">
        <div class="app-input-text">
            <a [routerLink]="link" [ngClass]="{'hidden': editMode}">{{board.name}}</a>
            <input type="text" [ngClass]="{'hidden': !editMode}" [(ngModel)]="boardName" />
        </div>
    </div>
    <div class="panel-body">
        <div class="btn-group-xs" [ngClass]="{'hidden': editMode}">
            <button class="btn btn-link" (click)="onEdit()">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>Edit</span>
            </button>
        </div>
        <div class="btn-group-xs" [ngClass]="{'hidden': !editMode}">
            <button class="btn btn-link" (click)="onCancel()">
                <span class="glyphicon glyphicon-ban-circle"></span>
                <span>Cancel</span>
            </button>
            <button class="btn btn-link" (click)="onUpdate()">
                <span class="glyphicon glyphicon-refresh"></span>
                <span>Update</span>
            </button>
            <button class="btn btn-link" (click)="onDelete()">
                <span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span>
            </button>
        </div>
    </div>
</div>